html
  head
    title Image tool
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.4/css/uikit.gradient.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  body
    .uk-container.uk-container-center
      .uk-grid
        .uk-width-1-1
          h1 IMG API
          p.uk-alert.uk-alert-info API key required !
          .uk-block
            h2 Sending a file
            code [POST] https://resize.ovh/upload (with multipart upload - field name: image)
            br
            code [POST] https://resize.ovh/upload_base64 (field name: image base 64 encoded)
            br
            code [POST] https://resize.ovh/upload_http (field name: url)
            h3 Return :
            code JSON document with { filename: your_uuid_filename }
            h2 Get original image
            code &lt;img src="https://resize.ovh/o/:uuid"&gt;
            br

            h2 Resize (with aspect ratio)
            code &lt;img src="https://resize.ovh/r/:uuid/200"&gt;

            h2 Resize &amp; crop an image (with aspect ratio)
            code &lt;img src="https://resize.ovh/r/:uuid/200/300"&gt;
            br
            code &lt;img src="https://resize.ovh/r/:uuid/100/100"&gt;
      .uk-grid
        .uk-width-1-1
          h1 Sample
          div
            img(src="https://resize.ovh/r/3eefe880-5a12-11e6-873d-b5ae5403d19b/600/300")
          div
            img(src="https://resize.ovh/r/3eefe880-5a12-11e6-873d-b5ae5403d19b/200/150")
          div
            img(src="https://resize.ovh/r/3eefe880-5a12-11e6-873d-b5ae5403d19b/100/100")
          div
            img(src="https://resize.ovh/r/3eefe880-5a12-11e6-873d-b5ae5403d19b/50/50")
      .uk-grid
        .uk-width-1-1
          h2 Webp sample
          picture
            source(srcset="https://resize.ovh/r/3eefe880-5a12-11e6-873d-b5ae5403d19b/500/500/webp" type="image/webp")
            source(srcset="https://resize.ovh/r/3eefe880-5a12-11e6-873d-b5ae5403d19b/500/500" type="image/jpeg")
            img(src="https://resize.ovh/r/3eefe880-5a12-11e6-873d-b5ae5403d19b/500/500" alt="webp with fallback")